NEXT_PUBLIC_STRAPI_API_URL=http://localhost:1337

# (In Strapi: Log in -> Settings -> API Tokens -> Create new API token -> Select Necessary Permissions)
STRAPI_API_TOKEN=tobemodified

NEXTAUTH_SECRET=tobemodified
NEXTAUTH_URL=http://localhost:3000